.details-main{
    margin: 20px 10px;
    margin-top: 120px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    .part1{

        img{
            height: 480px;
            width: 100%;
            border-radius: 20px;
            margin: 20px 0px;
        }
    }
    .part2{

        .describe{
            margin: 20px;

            .headLine{
                //text-transform: uppercase;
                margin-bottom: -1px;
            }
            h2{
                //text-transform: uppercase;
                //font-family: 'Josefin Sans';
            }
        }

        .button-area{
            margin: 20px;

            strong{
                font-size: large;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            }

            button{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 10px;
                height: 35px;
                width: 120px;
                border: none;
                background-color:#1cb803 ;
            }
        }
    }
}

.section-review{
    
    .review-thumb{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
       // border: 1px solid red;
       //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        //box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        border-radius: 5px
    }

    .review-table{
        border-radius: 5px;
        //box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}