footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    .logo-div{
        height: 50px;
        width: 100%;
        margin-bottom: 15px;
        padding: auto;
        margin-top: 10px;
        

        .icon{
            color: #176560;
            font-size: 50px;
        }
        h4{
            
            margin-top: 15px;
            color: rgb(132, 209, 120);
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}