.addMain{
    .first-side{
       //border: 4px solid green;
        margin:0 20px;
        height: 700px;

        .one{
            margin: 30px 0;
            height: 320px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 20px;
            border: none;
            position: relative;

            h4{
                padding: 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            }
             p{
                 margin: 5px 30px;
                 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

             }

            .selectbox{
                margin: 0 30px;
                border: 1px solid gray;
                border-radius: 10px;
                height: 40px;
                //width: 200px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                
               
            }

            .addBtn{
                margin: 0 30px;
               
            }

            .fav{
                position: absolute;
                right: 16px;
                bottom:16px ;
                
            }

        }
        .tow{
            margin: 30px 0;
            height: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 20px;
            border: none;

            h4{
                padding: 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            }

            p{
                margin: 5px 30px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            }

           .selectbox{
               height: 40px;
               margin: 0 30px;
               border: 1px solid gray;
               border-radius: 10px;
              // width: 200px;
               font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

           }
        }
    }
    
    .last-side{
       // border: 1px solid rebeccapurple;
        margin: 0 20px;
       
        .one{
            margin: 30px 0;
            height: 500px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 20px;

            h4{
                padding: 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            }

            .product-name{

                p{
                    margin: 0 30px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

                }
                input{
                    margin: 4px 30px;
                   // width: 0;
                    height: 40px;
                   // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    border: 1px solid gray;
                    border-radius: 10px;
                    text-indent: 20px;
                   
                }

            }

            .product-details{
                margin: 28px 0;

                p{
                    margin: 5px 30px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

                }

                .details{
                    margin: 2px 30px;
                    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    border: 1px solid gray;
                    border-radius: 10px;
                    text-indent: 20px;
                }
            }
            
        }
        .tow{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 20px;
            height: 170px;

            h4{
                padding: 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            }
                //media
            .file {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              
              .file > input[type='file'] {
                display: none
              }
              
              .file > label {
                font-size: 1rem;
                font-weight: 300;
                cursor: pointer;
                outline: 0;
                user-select: none;
                border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
                border-style: solid;
                border-radius: 4px;
                border-width: 1px;
                background-color: hsl(0, 0%, 100%);
                color: hsl(0, 0%, 29%);
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 16px;
                padding-bottom: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              
              .file > label:hover {
                border-color: hsl(0, 0%, 21%);
              }
              
              .file > label:active {
                background-color: hsl(0, 0%, 96%);
              }
              
              .file > label > i {
                padding-right: 5px;
              }
              
              .file--upload > label {
                height: 70px;
                width: 350px;
                color: hsl(204, 86%, 53%);
                border-color: hsl(204, 86%, 53%);
              }
              
              .file--upload > label:hover {
                border-color: hsl(204, 86%, 53%);
                background-color: hsl(204, 86%, 96%);
              }
              
              .file--upload > label:active {
                background-color: hsl(204, 86%, 91%);
              }

        }
        .three{
            margin: 30px 0;
            //height: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 20px;

            h4{
                padding: 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            }

            p{
                margin: 5px 30px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            }

            input{
                margin: 0 30px;
//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
               // width: 300px;
                height: 40px;
                border-radius:10px;
                border: 1px solid gray; 
                text-indent: 20px;
            }
           

        }
        button{
            margin-left:350px;
            height: 40px;
            width: 120px;
            border-radius: 50px;
            border: none;
            background-color: #58e77b;
        }
    }
    
}