.profile-div{

    .one{
        margin: 10px;
        border-radius: 10px;
        height: 400px;
        margin: 20px;
        padding-bottom: 80px;
        padding-top: 80px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

        .radius-circle{
             border: 1px solid green;
             padding: 10px;
             height: 140px;
             width: 140px;
             border-radius: 100%;
             
        }

        .img-profile{
            height: 120px;
            width: 120px;
            border-radius: 100%;

            img{
               border-radius: 100%;
                width: 100%;
            }
        }
    }
}